.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F1F1F3;
    /* applying background color for the whole page */
    margin-left: 127px;
    margin-right: 127px;
}
.light-dark-text{
    color: rgb(14, 14, 14, 0.7);
    font-size: 13px;
}
/* hero section starts here */
#hero {
    background-color: #C6E4D6;
    width: 85%;
    height: 448px;
    padding: 64px 80px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero .hero-item-left {
    width: 498px;
    height: 261;
}

#explore-btn {
    background-color: #006A50;
    width: 216px;
    height: 45px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
}
#explore-btn:hover{
    cursor: pointer;
}

/* hero section ends here */
/* vision section starts here */
#vision-card-container {
    display: flex;
    gap: 15px;
}

#vision-card-1 {
    background-color: #81B4FC;
    border-radius: 10px;
    padding: 15px;
}
#vision-card-1 button{
    background-color: #5490F5;
    border: none;
    border-radius: 5px;
    width: 97px;
    height: 33px;
    color: #FFFFFF;
}
#vision-card-1 button:hover{
    cursor: pointer;
}
#vision-card-2 {
    background-color: #C6E4D6;
    border-radius: 10px;
    padding: 15px;
}
#vision-card-2 button{
    background-color: #09A15C;
    border: none;
    border-radius: 5px;
    width: 97px;
    height: 33px;
    color: #FFFFFF;
}
#vision-card-2 button:hover{
    cursor: pointer;
}

#vision-card-3 {
    background-color: #F7EBCF;
    border-radius: 10px;
    padding: 15px;
}
#vision-card-3 button{
    background-color: #FFC239;
    border: none;
    border-radius: 5px;
    width: 97px;
    height: 33px;
    color: #FFFFFF;
}
#vision-card-3 button:hover{
    cursor: pointer;
}

#vision-card-cont .card-icon {
    width: 100%;
    display: block;
}

#yunus {
    background-color: #FFFFFF;
    background-image: url(../assets/quote-bg.png);
    background-position: 15px 0;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 15px 15px 20px 15px;
}
/* vision section ends here */
/* recent news starts here */
#satelite-1{
    display: flex;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 30px;
}
.satelite-image {
    border-radius: 10px;
}
.satelite-news{
    padding-left: 30px;
}

#satelite-2{
    display: flex;
    flex-direction: row-reverse;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 30px;
}

#rm-btn {
 background-color: #006A50;
    border: none;
    border-radius: 5px;
    width: 97px;
    height: 33px;
    color: #FFFFFF;
}
#rm-btn:hover{
    cursor: pointer;

}
#satelite-2{
    display: flex;
    background-color: #FFFFFF;
    border-radius: 15px
}
/* recent news ends here */
/* donate today section starts here */
#donate-today{
    padding-left: 20px;
    padding-right: 20px;
}
#tk-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.tk-btn{
    background-color: #FFFFFF;
    width: 150px;
    height: 100px;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 80%;
    
}
.tk-btn:hover{
    cursor: pointer;
    background-color: rgb(175, 235, 175)
}
#other-amount{
    display: flex;
    justify-content: center;
}
#other-amount-input{
    width: 70%;
    height: 30px;
    border: none;
    text-align: center;
}

#dn-btn{
    background-color: #006A50;
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 5px;
    color:#FFFFFF
}
#dn-btn-container{
    display: flex;
    justify-content: center;
}
/* donate today section ends here */
/* subscribe newsletter section starts here */
#subscribe{
    background-color: #C6E4D6;
    width: 90%;
    /* why is 100% width not working */
    height: 200px;
    border-radius: 15px;
    padding: 5% 5%;
    text-align: center;
    align-items: center;
}
#email-subscribe input{
    width: 300px;
    height: 30px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#email-subscribe button{
    width: 100px;
    height: 30px;
    background-color: #006A50;
    border: none;
    border: #006A50;
    color: #FFFFFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* subscribe newsletter section ends here */